<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Py Space Chat</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" />

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    ></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
     
     <script src="https://code.jquery.com/jquery-3.7.0.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>


  </head>
  <body>
   
    <div class="wrapper">
      <img src="/static/Logo_My_Py.gif" height="100px" width="320px" />

    <div class="content">{% block content %} {% endblock %}</div>
     <div class="infos">
        <p><font color="red">Attention ⚠️ Il Faut Faire Trés Attention L'or De L'envoi Du Code À Ne Communiquer Qu'à La Personne Avec Laquelle Vous Souhaitez Chatter !</font></p>
        <p>Les Liens de l'application Changes constamment pour la protection des données de nos utilisateurs, Pour Info les conversations et les rooms et les codes générés sont accessibles une seule fois, une fois le room fermé tout l'historique et automatiquement écrasé, c'est pourquoi vous trouverez toujours sur cette page "Click Ici"=><a href="https://mypy-space.blogspot.com/p/my-py-space-chat-rooms.html" target="_blank">🔗</a> le lien mis ajouré.</p>
     </div>
    <p>Created By <a title="Reghai Nawfel">Lkaddafi</a> Copyright © tous droits réservés</p>
  </div>



  </body>
</html>